* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.hero {
  width: 100%;
  padding: 1rem;
  padding-top: 0.5rem;
  min-height: 50vh;
}
.profile-card {
  max-width: 1000px;
  min-height: auto;
  background: #000;
  color: #fff;
  padding: 1.2rem;
  border-radius: 1.5rem;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  margin-bottom: 1.5rem;
  margin: 0 auto;
}
.profile-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
}
.info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.avatar {
  width: 100%;
  height: 250px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  position: relative;
}
.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.edit-icon {
  position: absolute;
  bottom: 8px;
  right: 8px;
  background: #ff0;
  color: #000;
  font-size: 0.9rem;
  padding: 0.3rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
}
.edit-icon:hover {
  transform: scale(1.1);
}
.info {
  text-align: center;
}
.info .name {
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin-bottom: 0.4rem;
  font-family: "BBH Sans Bartle", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.bio {
  font-size: 0.9rem;
  color: #ccc;
  line-height: 1.5;
  font-family: "Share Tech Mono", monospace;
  font-weight: 400;
  font-style: normal;
}
.time {
  width: fit-content;
  background: #222222;
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  font-family: monospace;
  letter-spacing: 0.5px;
}
.socials {
  list-style: none;
  padding: 0.4rem 0.6rem;
  background: #ff0;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;
  flex-wrap: wrap;
  border-radius: 6px;
  width: fit-content;
  margin: 1rem auto;
}
.socials li {
  cursor: pointer;
  transition:
    transform 0.2s ease,
    color 0.2s ease;
  display: flex;
  gap: 0.4rem;
  align-items: end;
}
.socials li:hover {
  transform: translateY(-2px);
  color: #363636;
}
.socials li a {
  color: inherit;
  text-decoration: none;
  font-family: monospace;
}
.socials li a:hover {
  text-decoration: underline;
}
section {
  width: 100%;
  text-align: left;
  margin-bottom: 1rem;
}
section h3 {
  font-size: 1.1rem;
  margin-bottom: 0.7rem;
  font-family: "monospace", monospace;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
}
section ul {
  font-family: "Share Tech Mono", monospace;
  font-weight: 400;
  font-style: normal;
  list-style: none;
  margin-left: 0.5rem;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 1.2rem;
}
section ul li {
  background: #222;
  padding: 0.4rem 0.9rem;
  border-radius: 5rem;
  color: #ff0;
  border: #ff0 1px solid;
  text-transform: capitalize;
  transition:
    transform 0.2s ease,
    color 0.2s ease;
}
section ul li:hover {
  transform: translateY(-2px);
  color: #222;
  background: #ff0;
}
.name {
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 700;
  font-family: "BBH Sans Bartle", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}
.name a {
  text-decoration: none;
  color: inherit;
}
body {
  background-color: #00000066;
  background-color: #f4f4f4;
}
.desk-nav-bar {
  width: 85%;
  margin: 1.3rem auto;
  padding: 0.6rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 3rem;
}

@media (min-width: 668px) {
  .profile-card {
    gap: 2rem;
  }
  .avatar {
    flex-shrink: 0;
    height: 380px;
  }
  .info {
    text-align: left;
  }
}

@media (min-width: 968px) {
  .info-box {
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
  }
  .avatar {
    width: 400px;
    height: 250px;
  }
  .info {
    text-align: left;
  }
  .name {
    font-size: 1.2rem;
  }
  .bio {
    font-size: 1rem;
  }
  .time-box {
    font-size: 1.2rem;
  }
  .time {
    padding: 0.5rem 1rem;
  }
  .socials {
    padding: 0.5rem;
    margin: 1rem;
    margin-left: 0;
  }
  section {
    margin-bottom: 0.1rem;
  }
}
